<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Hello, {{ title }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>

      <router-outlet />
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <nav>
        <ul>
          <li>
            <a
              routerLink="/create"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Place create</a
            >
          </li>
          <li>
            <a
              routerLink="/"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Home</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</main>
